*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    background-color: black;
    height: 100vh;

}

a{
    color: white;
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
}

/* regole main */
main{
    height: 100vh;
    overflow-y: auto;
}

.main-container{
    width: 80%;
    height: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 3px;
}

.guest{
    position: relative;
    /* debug */
    height: 130px;
    width: 200px;
}

.guest-name{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    background-color: rgba(128, 128, 128, 0.349);
    padding: 2px;
    font-size: 12px;
}

/* regole nav */
nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
}

.nav-container{
    height: 70px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button{
    display: inline-block;
    text-align: center;
    margin: 0 8px;
}

.nav-item{
    display: flex;
    align-items: center;
    height: 100%;

}

.nav-button i{
    font-size: 25px;
}

.nav-button span{
    font-size: 13px;
}

.more-options i{
    font-size: 10px;
}

#end-call{
    color: rgb(199, 32, 43);
    background-color: rgb(74, 74, 74);
    text-align: right;
}