*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.flex-just-center{
    display: flex;
    justify-content: center;
}

.flex-alignitems-center{
    display: flex;
    align-items: center;
}

.background-gray{
    background-color: rgba(128, 128, 128, 0.349);
    padding: 4px;
    font-size: 13px;
}

/* regole speaker view */
.view{
    height: 40px;
    background-color: black;
    text-align: right;
    top: 0;
}

.view-button{
    display: inline-block;
    margin-right: 10px;
    margin-top: 7px;
    border-radius: 5px;
}

/* regole main */
.main-container{
    width: 90%;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
    height: calc(100vh - 110px);
}

.guest{
    position: relative;
    margin: 4px 0;
    min-width: 16%;
}

.guest img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.guest-name{
    position: absolute;
    left: 0;
    bottom: 0;
}

/* regole nav */
nav{
    bottom: 0;
}

.nav-container{
    height: 70px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    justify-content: space-between;
}

.nav-button{
    display: inline-block;
    text-align: center;
    margin: 0 8px;
}

.nav-item{
    height: 100%;
}

.nav-button i{
    font-size: 20px;
}

.nav-button span{
    font-size: 10px;
}

.more-options i{
    font-size: 12px;
}

#end-call{
    background-color: rgb(74, 74, 74);
    text-align: right;
}

#end-call a {
    color: rgb(199, 32, 43);
}